.App  {
   height: fit-content;
   min-height: 100vh;
   overflow: hidden;
   background-image: url('./rick-and-morty-space-wallpaper-preview-transformed.jpeg');
   background-repeat: no-repeat;
    background-size: cover;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   display:flex;
   flex-direction: column;
}
.divCartas{
   padding: 20px;
   display: grid; 
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 20px;
   max-width: 100vw;
   max-height: 100%;
}
.divContenedor{
   display:flex;
   flex-direction: column;
   align-items: center;
}
