.dropbtn{
    top: 15px;
    background-color: blue;
    height: 30px;
    min-height: 30px;
    width: 30px;
    transition: 1s;
}

.menu{
    display: none;
    padding: 2px;
    position: absolute;
    transition:1s
}

.menu:hover{
    display:flex;
    flex-direction: column ;
    transition: 1s;
}

.divDesplegable{
    position:relative;
    display: inline-block;
    top: 15px;
    transition: 1s;
}
.divDesplegable:hover .menu{
    display: block;
    background-color: red;
    width: auto ;
    transition: 1s;
}