.Contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}

.form{
    grid-area: 2 / 2 / 3 / 3;
    background-color: brown;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.username{
    color:black;
}

.login{
    width: fit-content;
}

.PasswordContainer{
    display:flex;
    flex-direction: row;

}

.PasswordInput{
    height: 1.2em;
    margin-right:5px;
}

.warningMessagePass{
    position:relative;
    
}