.Contenedor{
    display: flex;
    width: fit-content;
    background-color: rgb(221, 224, 171);
    padding: 2rem;
    border-radius: 20px;
    border:1px  solid rgb(182, 185, 125);
    box-shadow: 2px 10px 39px 20px rgba(151, 203, 169,0.75);
}
.Imagen{
    border-radius: 50%;
}
.aux{
    display:flex;
    justify-content: center;
    margin-top: 12rem;
}
.ImgText{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
}
.Info{
    font-size: 18px;
    padding: 1rem;
    border-left:1px  solid rgb(182, 185, 125);
}
.buttons{
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
    top: 21%
}
.NextBtn{
     padding:0.5rem 0.8rem 0.5rem 0.8rem;
     border-radius:5px;
     border:0px ;
     /* position:relative;
     top:26%;
     left:52%; */
}
.PrevBtn{
    padding:0.5rem 0.8rem 0.5rem 0.8rem;
    border-radius:5px;
    border:0px ;
    /* position:relative;
    top:26%;
    right:8%; */
}